PORT=3000
NODE_ENV=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=slotr
POSTGRES_HOST=localhost
POSTGRES_PORT=5435
REDIS_HOST=localhost
REDIS_PORT=6380
LOG_LEVEL=debug
LOG_DIR=logs
LOG_FILE_NAME=slotr
SWAGGER_ENABLED=true
SWAGGER_PATH=api/docs
SWAGGER_TITLE=Slotr API
SWAGGER_DESCRIPTION=Slotr booking and scheduling REST API
SWAGGER_VERSION=1.0
FRONTEND_URL=http://localhost:8080